.toolbar {
    height: 20px;
    display: flex;
    gap: 50px;
    justify-content: flex-start;
    align-items: center;
    background: #edf2fa;
    margin-left: 30px;
    border: 1px solid green;
    border-radius: 50px;
    margin-bottom: 20px;
    padding: 10px;
}

.toolbarIconContainer:hover {
    background: #d9dcea;
    padding: 8px;
    cursor: pointer;
}

.toolbarIcon {
    width: 20px;
    height: 20px;
}

.button {
    border: none;
    font: 16px/1.2 Consolas;
    background: none;
}

.button:hover {
    background: #d9dcea;
    padding: 8px;
    cursor: pointer;
}
