.entry {
    display: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.centeredContainer {
    text-align: center;
}

.entryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uploadButton,
.newPresentationButton {
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}

.uploadButton {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
}

.newPresentationButton {
    background-color: #2196f3;
    color: #ffffff;
    border: none;
}

.error {
    color: red;
    margin-top: 10px;
}
