.sideSlide {
    position: relative;
    width: 200px;
    height: 100px;
    outline: 2px solid #c4c7c5;
    border-radius: 10px;
    cursor: default;
}

.indexAndSideSlide {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
